@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: 'Poppins', sans-serif;
}
nav,
header > img {
  flex-basis: calc(100% / 2 - 100px);
}
li:not(:last-child) {
  margin-right: 100px;
}

.con {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.con > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

.window {
  background: linear-gradient(135deg, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.12) 100%);
  width: calc(100vw / 4);
  height: calc(100vh - 200px);
  padding: 17px;
  border-radius: 17px;
}

.window:not(.notlogin){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.blur {
  backdrop-filter: blur(40px);
}

.notlogin {
  width: calc(100vw / 2.5);
}

.window > h1 {
  font-size: calc(17px * 4);
  font-weight: 600;
}

.window > input,
.window > button {
  background-color: transparent;
  width: 80%;
  margin: 14px;
  padding: 0.5em;
  border: none;
}

.window > input {
  border-bottom: 2px solid #32323280;
}

.window > button {
  color:#F0EBCE;
  background: linear-gradient(135deg, #395144 0%, #4E6C50 100%);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.125em;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.window > button:hover {
  color: #0f1431;
}

.rubrik {
  text-align: center;
  color: red;
  margin-top: -10px;
}

.desc,
.time,
.inv {
  margin-top: 30px;
  text-align: left;
  font-size: x-large;
  margin-left: 15px;
}

.desc {
  color:green;
}

.time {
  color: steelblue;
}

.inv {
  color: coral;
}

.vpil {
  color: skyblue;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.vpil > img{
  width: 50px;
  aspect-ratio: 86 / 67;
  margin: 15px;
}




/*Positionen för pop up menyn med öppna och stäng knappen*/
.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*Designen för öppna och stäng knappen*/
.button {
  position: absolute;
  background: darkcyan;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 77%;
  height: 40px;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 50%;
}

/*Pop up menyn*/
button.noMenu {
  background-image: url(./bilder/menu.svg);
}
button.showMenu {
  background-image: url(./bilder/x.svg);
}

.menuNav1 {
  background-image: url(./bilder/add.svg);
  bottom: 60px;
}

.menuNav2 {
  background-image: url(./bilder/edit.svg);
  right: 45px;
  bottom: 45px;
}

.menuNav3 {
  background-image: url(./bilder/trash.svg);
  right: 60px;
}


.menuNav1.showMenu,
.menuNav2.showMenu,
.menuNav3.showMenu {
  animation: popout 0.5s cubic-bezier(.47,1.64,.41,.8);
}

.menuNav1.noMenu,
.menuNav2.noMenu,
.menuNav3.noMenu {
  animation: popin 0.5s cubic-bezier(.47,1.64,.41,.8);
  animation-fill-mode: forwards;
}

/*Animationerna för när pop up menyn öppnas och stängs*/
@keyframes popout{
  from{transform:scale(0)}
  to{transform:scale(1)}
}

@keyframes popin{
  from{transform:scale(1)}
  to{transform:scale(0)}
}

h2{
  position: relative;
  top: 100px;
  margin-top: 20px;
}

.add{
  position: relative;
  top: 125px;
}